{% extends "base.html" %}

{% block title %} ScholarScan {% endblock %}

{% block content %}
<h1 class="display-2"> ScholarScan </h1>
<!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/013/061/836/small_2x/graduate-hat-and-magnifying-glass-logo-design-student-finder-logo-template-free-vector.jpg"> -->
<br />
<form id="form-border-enforcer" class="form-inline" method="POST">
    <div class = "form-group">
        <input class="form-control-lg" name="searchQuery" id="searchQuery" placeholder="Search ScholarScan" maxlength="80">
        <button type="submit" class="btn btn-success ml-2 mb-4" onclick="showLoadingIndicator();return true;">GO</button>
        <br />
        <div class="form-check ml-3 mb-2">
            <input class="form-check-input" type="checkbox" value="peerReviewed" name="checkbox" id="peerReviewed">
            <label class="form-check-label mb-4" for="peerReviewed">
              Peer Reviewed Journal
            </label>
          </div>
        <div class="form-check ml-2 mb-2">
            <input class="form-check-input" type="checkbox" value="governmentAffiliation" name="checkbox" id="governmentAffiliation">
            <label class="form-check-label mb-4" for="governmentAffiliation">
                Government Affiliation
            </label>
        </div>
        <div class="form-check ml-2 mb-2">
            <input class="form-check-input" type="checkbox" value="conflictDisclosed" name="checkbox" id="conflictDisclosed">
            <label class="form-check-label mb-4" for="conflictDisclosed">
                Conflict of Interest Disclosed
            </label>
        </div>
        <div class="form-check ml-2 mb-2">
            <input class="form-check-input" type="checkbox" value="conflictInterest" name="checkbox" id="conflictInterest">
            <label class="form-check-label mb-4" for="conflictInterest">
                No Conflict of Interest
            </label>
        </div>
        <div class="form-check ml-2 mb-2">
            <input class="form-check-input" type="checkbox" value="fundingDisclosed" name="checkbox" id="fundingDisclosed">
            <label class="form-check-label mb-4" for="fundingDisclosed">
                External Funding Disclosed
            </label>
        </div>
        <div class="form-check ml-2 mb-2">
            <input class="form-check-input" type="checkbox" value="notExternallyFunded" name="checkbox" id="notExternallyFunded">
            <label class="form-check-label mb-4" for="notExternallyFunded">
                No External Funding
            </label>
        </div>
        <div class="form-group ml-2 mb-2">
            <input class="form-control" name="overNStudies" id="overNStudies" placeholder="Author has over n studies" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="resultAmount" id="restultAmount" placeholder="No. of search results" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="minCitations" id="minCitations" placeholder="Min. citations" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="maxGsRank" id="maxGsRank" placeholder="No. of studies to analyse" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="daysSinceCite" id="daysSinceCite" placeholder=" Max days since citation" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="minPubYear" id="minPubYear" placeholder="Oldest study (year)" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="minAuthCitations" id="minAuthCitations" placeholder="Min. author cites" maxlength="5">
        </div>
    </div>
</form>
<br />
<br />
  <div id="load"></div>
  <div id="contents">
    <h1 align="center">Results</h1>
    <ul class="list-group-flush", id="results">
      {% for study in searchedAndSortedStudies %}
        <li class="list-group-item line-row li">
            <p>Title: {{ study.title }}</p>
            <p>Truncated Abstract: {{ study.abstract }}</p>
            <p>Publishing Year: {{ study.pubYear }}</p>
            <p>Publisher: {{ study.publisher }}</p>
            <p>GS rank: {{ study.gsRank }}</p>
            <p>Citations: {{ study.numCitations }}</p>
            <p>GovLev: {{ study.daysSinceCite }}</p>
            <p>GovLev: {{ study.citationsOfTopCiters }}</p>
            <p>Authors: {{ study.authors }}</p>
            <p> Author and organisation information:</p>
            <!-- {% for dictRow in study.authorOrgInfo %} 
              <p>{{ dictRow }}</p>
            {% endfor %} -->
            <p> {{ authoOrgInfo }} </p>
            <p>Journal: {{ study.journalInfo }}</p>
            <p>Country: {{ study.government }}</p>
            <p>GovLev: {{ study.levelOfAffiliation }}</p>
            <p>Gov: {{ study.governmentAffiliation }}</p>
            <p>GovLev: {{ study.affiliationNature }}</p>
            <p>Peer-Review: {{ study.peerReviewed }}</p>
            <p>Conflict Interest: {{ study.conflictInterest }}</p>
            <p>Conflict disclosed: {{ study.conflictDislcosed }}</p>
            <p>Conflict Interest Evidence: {{ study.conflictEvidence }}</p>
            <p>Score: {{ study.score }}</p>
          </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
