{% extends "base.html" %}

{% block title %} ScholarScan {% endblock %}

{% block content %}
<h1 class="display-2"> ScholarScan </h1>
<!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/013/061/836/small_2x/graduate-hat-and-magnifying-glass-logo-design-student-finder-logo-template-free-vector.jpg"> -->
<br />
<form id="form-border-enforcer" class="form-inline" method="POST">
    <div class = "form-group">
        <input class="form-control-lg" name="searchQuery" id="searchQuery" placeholder="Search ScholarScan" maxlength="80">
        <button type="submit" class="btn btn-success ml-2 mb-4" onclick="showLoadingIndicator();return true;">GO</button>
        <br />
        <div class="form-check ml-3 mb-2">
            <input class="form-check-input" type="checkbox" value="peerReviewed" name="checkbox" id="peerReviewed">
            <label class="form-check-label mb-4" for="peerReviewed">
              Peer Reviewed Journal
            </label>
          </div>
        <div class="form-check ml-2 mb-2">
            <input class="form-check-input" type="checkbox" value="governmentAffiliation" name="checkbox" id="governmentAffiliation">
            <label class="form-check-label mb-4" for="governmentAffiliation">
                Government Affiliation
            </label>
        </div>
        <div class="form-group ml-2 mb-2">
            <input class="form-control" name="minCareerLength" id="minCareerLength" placeholder="Minnimum author career length" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="resultAmount" id="restultAmount" placeholder="No. of search results" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="minCitations" id="minCitations" placeholder="Min. citations" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="maxGsRank" id="maxGsRank" placeholder="No. of studies to analyse" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="daysSinceCite" id="daysSinceCite" placeholder=" Max days since citation" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="minPubYear" id="minPubYear" placeholder="Oldest study (year)" maxlength="5">
        </div>
        <div class="form-group ml-2 mb-2">
          <input class="form-control" name="minAuthCitations" id="minAuthCitations" placeholder="Min. author cites" maxlength="5">
        </div>
    </div>
</form>
<br />
<br />
  <h1 align="center">Results</h1>
  <div id="load" style="visibility: hidden"></div>
  <div id="contents">
    <ul class="list-group-flush", id="results">
      {% for study in searchedAndSortedStudies %}
        <li class="list-group-item line-row li">
            <p><a href = "{{ study.pubUrl }}" > <strong>{{ study.title }}</strong></a> </p>
            <p><strong>Truncated Abstract:</strong> {{ study.abstract }}</p>
            <p><strong>Publishing Year:</strong> {{ study.pubYear }}</p>
            <p><strong>Publisher:</strong> {{ study.publisher }}</p>
            <p><strong>GS rank:</strong> {{ study.gsRank }}</p>
            <p><strong>Citations:</strong>{{ study.numCitations }}</p>
            <p><strong>Authors: </strong>{{ study.authors }}</p>
            <strong>Author and organisation information:</strong>
            {% for author in study.authorOrgInfo %}
              <p>  {{ author.authorName }} H-index:{{ author.hIndex }} </p>
            {% endfor %}
            {% if study.journalInfo.journalName %}
              <p><strong>Journal:</strong> {{ study.journalInfo.journalName }}</p>
              <p><strong>Peer-Review:</strong>{{ study.journalInfo.peerReviewed }}</p>
            {% else %}
              <p><strong>Journal:</strong> {{ study.journalInfo.journalUnscrapableName }}</p>
            {% endif %}
            <p><strong>Country:</strong> {{ study.government }}</p>
            <p><strong>Government Affiliation:</strong> {{ study.governmentAffiliation }}</p>
            <p><strong>Nature of Affiliation: </strong>{{ study.affiliationNature }}</p>
            <p><strong>Score:</strong> {{ study.score }}</p>
          </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
