{% extends "base.html" %}

{% block title %} ScholarScan {% endblock %}

{% block content %}
<h1 class="display-2"> ScholarScan </h1>
<br />
<form class="form-inline" method="POST">
    <div class = "form-group">
        <input
            class=".form-control-lg"
            name="search"
            id="search"
            placeholder="Search ScholarScan"
            maxlength="40"
        />
    </div>
    <button type="submit" class="btn btn-success ml-2 mb-4">GO</button>
</form>
<br />
<form class=""


{% endblock %}