.form-border-enforcer{
    max-width: auto;
}

.rightSide{
    nav-right: current;
}

.scholarLogo{
    background-image:url("https://cdn5.vectorstock.com/i/1000x1000/86/59/magnifying-glass-with-graduation-cap-vector-7328659.jpg")
}